<div class="login-container">
    <div class="inner-login-container">
        <div>
            <h2>Admin login</h2>
        </div>
        <div>
            <div class="input-container">
                <input 
                    type="text"
                    placeholder="username" 
                    (input)="handleAdminUserNameChange($event)"
                />
            </div>
            <div class="input-container">
                <input 
                    type="password"
                    placeholder="password" 
                    (input)="handleAdminPasswordChange($event)"
                />
            </div>
            <div align="center"><button (click) = "onAdminLogin()">LOGIN</button></div>
        </div>
    </div>
    <div class="inner-login-container">
        <div>
            <h2>Builder login</h2>
        </div>
        <div>
            <div class="input-container">
                <input 
                    type="text" 
                    placeholder="username" 
                    required
                    (input) = "handleBuilderUserNameChange($event)"
                />
            </div>
            <div class="input-container">
                <input 
                    type="password" 
                    placeholder="password" 
                    required
                    (input) = "handleBuilderPasswordChange($event)"
                />
            </div>
            <div align="center"><button (click)="onBuilderLogin()">LOGIN</button></div>
        </div>
    </div>
    <div class="inner-login-container">
        <div>
            <h2>Architect login</h2>
        </div>
        <div class="input-contaienr">
            <div class="input-container">
                <input 
                    type="text" 
                    placeholder="username" 
                    required
                    (input) = "handleArchitectUserNameChange($event)"
                />
            </div>
            <div class="input-container">
                <input 
                    type="password" 
                    placeholder="password" 
                    required
                    (input) = "handleArchitectPasswordChange($event)"
                />
            </div>
            <div align="center"><button (click)="onArchitectLogin()">LOGIN</button></div>
        </div>
    </div>
</div>